* {
    box-sizing: border-box;
}

#fruits {
    background-color: rgb(196, 255, 196);
    max-width: 1000px;
    padding: 30px;
    box-shadow: 5px 10px 10px rgb(176, 235, 203);
    margin: 30px auto;
}

.fruit-basket{
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
}
.fruit-basket h2 {
    background-color: white;
    padding: 30px;
    border-radius: 20px;   
}