* {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#FFFFFF, #EBDCFF);
}

.banner {
    /* background-color: bisque; */
    /* margin-top: 100px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto; */
    /*      top-bottom   right-left*/
    /* margin: 100px, 50px; */
    /*        top    right   bottom   left  */
    margin: 100px auto 120px auto;
    border: 2px solid #872bff10;
    border-radius: 40px;

    background-image: url(images/hero-bg.png);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 30px;
    width: 87.5%;
}

.banner-content {
    width: 50%;
}

.banner-content * {
    margin-bottom: 20px;
}

.banner-content h1 {
    font-size: 70px;
    font-weight: bold;
}

.banner-content p {
    font-weight: medium;
    font-size: 18px;
    color: #a8a8a8;
}

.banner-content h1 span {
    color: #f411cf;
}

.btn {
    background-color: #872bff;
    border-radius: 30px;
    padding: 16px 32px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.explore {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 120px;
}

.btn-white {
    /* background-color: #872bff; */
    border: 2px solid #872bff;
    border-radius: 30px;
    padding: 16px 32px;
    /* color: white; */
    cursor: pointer;
    margin-right: 20px;
}

.banner-image {
    width: 600px;
}

.service,
.story-card , .country{
    width: 87.5%;
    margin: 0px auto 120px auto;
}

.heading {
    text-align: center;
    margin-bottom: 60px;
}

.heading h4 {
    color: #f411cf;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.heading h2 {
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 30px;
}

.service-card-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.service-card {
    background-color: white;
    padding: 20px 60px;
    text-align: center;
    width: 300px;
    border-radius: 30px;
}

.service-card img {
    margin-bottom: 30px;
}

.service-card h2 {
    font-weight: semibold;
    font-size: 28px;
    margin-bottom: 20px;
}

.service-card p {
    color: #a8a8a8;
}

.story-card {
    background-color: white;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    gap: 20px;
}

.story-content h2,
.story-content img,
.story-content p {
    margin-bottom: 30px;
}
.country-card{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  
}
.country-card h2{
    background-color: white;
      padding: 40px;
      border-radius: 30px;
}
.review-container {
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    width: 87.5%;
    margin: 0px auto 60px auto;
    text-align: center;
}

.review-container {
    background-image: url(images/star-reviews.png);
    background-position: 97% 145px;
    background-repeat: no-repeat;
}

.customer h2 {
    margin-bottom: 10px;
}

.customer p {
    color: #a8a8a8;
}

.customer-review-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

#footer-container {
    background-color: white;
}

.footer{
    background-color: white;
    padding: 5px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
}
.footer img {
    padding: 15px;
}
.copy-right{
    padding-top: 20px;
}