/* :hover pseudo class */
#heading:hover{
    color: brown;
    background-color: yellowgreen;
    font-size: 50px;
}
.paragraph:hover{
    border: 3px solid red;
    border-radius: 20px;
    padding: 40px;
}
/* :focus pseudo class */
input{
    height: 50px;
    width: 400px;
    font-size: 40px;
}
input:focus{
    background-color: aquamarine;
}