* {
    box-sizing: border-box;
}

#mango {
    background: linear-gradient(150deg, yellow, yellowgreen);
    max-width: fit-content;
    max-width: 900px;
    margin: 0px auto;
    padding: 40px;
    font-size: 100px;
}

@media screen and (max-width: 600px) {
    #mango {
        background: linear-gradient(150deg, green, yellowgreen);
        font-size: 80px;
    }

}